{% extends "layout.html" %}
{% block content %}
		<h1>Alow Mundo!</h1>
		<div id={{ chartID|safe }} class="chart" style="height: 400px; width: 100%"></div>

		<script>
			var chart_id = {{ chartID|safe }}
			var series = {{ series|safe }}
			var title = {{ title|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
		</script>
{% endblock content %}

{% block scripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
	<script>
		$(document).ready(function() {
			$(char_id).highcharts({
				chart: chart,
				title: title,
				xAxis: xAxis,
				yAxis: yAxis,
				series: series
			});
		});
	</script>
{% endblock scripts %}

